* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #111;
	color: #efefef;
	font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h2 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
	text-align: center;
}

label {
	font-weight: bold;
	display: block;
	margin-bottom: 0.3rem;
	text-align: left;
}

input[type="number"],
select {
	width: 400px;
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
	transition: border-color 0.3s;
}

input[type="number"]:focus,
select:focus {
	border-color: #007bff;
	outline: none;
}

button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 0.7rem;
	font-size: 1rem;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #0056b3;
}

#wynik {
	margin-top: 1.5rem;
	font-size: 1.2rem;
	color: #333;
	font-weight: bold;
	text-align: center;
}